name: releaser
on:
  push:
    tags:
      - 'v*'
    branches:
      - 'main'
      - 'sign-images-and-sbom'

jobs:
  release-init-kyverno:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Cache Go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: creekorful/goreportcard-action@v1.0

      - name: login to GitHub Container Registry
        run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true

      - name: Set version
        run: |
          echo "KYVERNO_VERSION=$(git describe --match "v[0-9]*")"

      - name: Generate SBOM JSON
        uses: CycloneDX/gh-gomod-generate-sbom@v0.3.0
        with:
          json: true
          output: kyvernopre-v${{ env.KYVERNO_VERSION }}-bom.cdx.json
          resolve-licenses: true
          version: ^v0
      - uses: actions/upload-artifact@v2
        with:
          name: kyvernopre-bom-cdx
          path: kyvernopre-v*-bom.cdx.json

      - name: Calculate SBOM sha
        run: |
          shasum -a 256 kyvernopre-v${{ env.KYVERNO_VERSION }}-bom.cdx.json > kyvernopre-v${{ env.KYVERNO_VERSION }}-bom.cdx.json.sha256
      - uses: actions/upload-artifact@v2
        with:
          name: kyvernopre-bom-cdx-sha256
          path: kyvernopre-v*-bom.cdx.json.sha256

      - name :  docker images publish
        run: |
          make docker-publish-initContainer

  release-kyverno:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Cache Go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: creekorful/goreportcard-action@v1.0

      - name: login to GitHub Container Registry
        run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true

      - name: Set version
        run: |
          echo "KYVERNO_VERSION=$(git describe --match "v[0-9]*")"

      - name: Generate SBOM JSON
        uses: CycloneDX/gh-gomod-generate-sbom@v0.3.0
        with:
          json: true
          output: kyverno-v${{ env.KYVERNO_VERSION }}-bom.cdx.json
          resolve-licenses: true
          version: ^v0
      - uses: actions/upload-artifact@v2
        with:
          name: kyverno-bom-cdx
          path: kyverno-v*-bom.cdx.json

      - name: Calculate SBOM sha
        run: |
          shasum -a 256 kyverno-v${{ env.KYVERNO_VERSION }}-bom.cdx.json > kyverno-v${{ env.KYVERNO_VERSION }}-bom.cdx.json.sha256
      - uses: actions/upload-artifact@v2
        with:
          name: kyverno-bom-cdx-sha256
          path: kyverno-v*-bom.cdx.json.sha256

      - name :  docker images publish
        run: |
          make docker-publish-kyverno

  release-kyverno-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Cache Go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: creekorful/goreportcard-action@v1.0

      - name: login to GitHub Container Registry
        run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true

      - name: Set version
        run: |
          echo "KYVERNO_VERSION=$(git describe --match "v[0-9]*")"

      - name: Generate SBOM JSON
        uses: CycloneDX/gh-gomod-generate-sbom@v0.3.0
        with:
          json: true
          output: kyvernocli-v${{ env.KYVERNO_VERSION }}-bom.cdx.json
          resolve-licenses: true
          version: ^v0
      - uses: actions/upload-artifact@v2
        with:
          name: kyvernocli-bom-cdx
          path: kyvernocli-v*-bom.cdx.json

      - name: Calculate SBOM sha
        run: |
          shasum -a 256 kyvernocli-v${{ env.KYVERNO_VERSION }}-bom.cdx.json > kyvernocli-v${{ env.KYVERNO_VERSION }}-bom.cdx.json.sha256
      - uses: actions/upload-artifact@v2
        with:
          name: kyvernocli-bom-cdx-sha256
          path: kyvernocli-v*-bom.cdx.json.sha256

      - name :  docker images publish
        run: |
          make docker-publish-cli
  
  create-release:
    runs-on: ubuntu-latest
    needs:
      - release-init-kyverno
      - release-kyverno
      - release-kyverno-cli
    steps:
      - name: Set version
        id: version
        run: echo ::set-output name=version::${GITHUB_REF#refs/*/}

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Cache Go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: creekorful/goreportcard-action@v1.0

      - name: Make Release
        env:
          VERSION: ${{ steps.version.outputs.version }}
        run: |
          rm -rf release
          mkdir release
          make release-notes > release/release-notes.out
          cat release/release-notes.out
          
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --debug --release-notes=release/release-notes.out
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-cli-via-krew:
    runs-on: ubuntu-latest
    needs: 
    - create-release
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Check Tag
        id: check-tag
        run: |
          if [[ ${{ github.event.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              echo ::set-output name=match::true
          fi

      - name: Update new version in krew-index
        if: steps.check-tag.outputs.match == 'true'
        uses: rajatjindal/krew-release-bot@v0.0.38
